// COLORS
$color-seed: #916818;
$color-tutor: #0a788c;
$color-fork: #568c0a;

// GRID
$grid-width: 750px;
$grid-height: 750px;
$grid-cell-size: $grid-width / 50;

// MENU
$menu-width: 750px;
$menu-height: 120px;
$menu-item-size: $menu-height / 2;